.navigation {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background: var(--bg-dark-big);
    background-size: cover;
}

.popupLayer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1010;
}

.input {
    background-color: transparent;
    color: white;
    border: none;
}

.tabs,
.mainNav {
    display: flex;
    padding: 0 25px;

}

.tab {
    border-left: solid 1px white;
    border-right: solid 1px white;
}

.tab.active {
    background: var(--bg-light);
}

.wrapper {
    display: flex;
    margin-top: 60px;
}

.wrapperView {
    justify-content: center;
}

.preview,
.editor {
    margin: 0 15px;
}

.editor {
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 1;
    position: sticky;
    top: 70px;
    height: calc(100vh - 100px);
    overflow-y: auto;
}

.editor :global .w-tc-editor {
    min-height: 100%;
}

.preview strong {
    color: black;
}

@media print {
    .wrapper {
        margin-top: 0;
    }

    .navigation,
    .editor {
        display: none;
    }

    html, body {
        margin: 0;
        padding: 0;
    }

    .preview {
        width: 100%;
        margin: 0;
        background-color: white!important;
    }
}

.preview {
    background-color: #eeeeee;
    color: #121212;
    padding: 20mm;
    flex-basis: 210mm;
    flex-grow: 0;
    flex-shrink: 0;
}

.preview img {
    max-width: calc(100% - 20px);
    margin: 10px;
}
