.box {
    padding: 15px;
    margin: 15px 0;
    background: url("../../../assets/parchment.webp");
    background-size: cover;
    box-shadow: 0 0 5px #979aa4;
    position: relative;
    box-sizing: border-box;
}

.box:before,
.box:after {
    content: '';
    display: block;
    height: 6px;
    background: url("../../../assets/parchment.webp");
    background-size: 100% 100%;
    width: calc(100% + 30px);
    filter: brightness(0.66) hue-rotate(355deg);
    border: solid 1px #89785E;
    box-sizing: border-box;
}

.box:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.box:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
