.inventory {
    padding: 25px;
    color: white;
}

.itemEntry label {
    display: none;
}

.itemEntry input {
    background-color: transparent;
    border-bottom: solid 1px white;
}

.itemEntry input[type="text"] {
    width: 250px;
    color: white;
}

.itemEntry input[type="number"] {
    width: 50px;
    color: white;
}
