:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

a,
a:visited {
  color: palegreen;
}

.card {
  border-radius: 20px;
  box-shadow: #000 2px 2px 12px;
  display: flex;
  flex-direction: column;
  max-width: 360px;
  padding: 1rem;
  color: white;
  text-decoration: none;

  img:first-child {
    max-width: none;
    width: calc(100% + 2rem);
    border-radius: 20px  20px 0 0;
    margin-top: -2rem;
    margin-left: -1rem;
    background-color: whitesmoke;
  }

  h1,h2,h3,h4,h5,h6 {
    margin-top: 0.5rem;
  }
}

.grid {
  display: grid;
  gap: 1rem;
}

.tabview {
  border: 1px solid #ccc;
  border-radius: 4px;
}
.tab-buttons {
  display: flex;
  border-bottom: 1px solid #ccc;
}
.tab-buttons button {
  flex: 1;
  padding: 8px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}
.tab-buttons button.active {
  background: #eee;
  font-weight: bold;
  color: black;
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.tab {
  display: none;
  padding: 8px;
}

.tab.active {
  display: block;
}
